{% extends 'template/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-basic">
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        <h2 class="paneltitle">Afbeeldingen</h2>
                    </div>
                    <div class="panel-title pull-right"><h1 class="paneltitle"><a class="btn btn-success"
                                                                                  href="{{ path('addimages',{'shop': shop, 'offerte_id': offerte_id}) }}"><span
                                        class="mbr-iconfont fa-plus-square fa"></span> Afbeelding toevoegen</a></h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    {% if images|length == 0 %}
                        <div class="alert alert-success" role="alert">
                            <strong>Geen afbeeldingen gevonden voor deze offerte!</strong>
                        </div>
                    {% else %}
                        <table class="table table-hover">
                            <thead>
                            <td></td>
                            <td>Naam</td>
                            <td>Extensie</td>
                            <td>Grootte</td>
                            <td>Acties</td>
                            </thead>
                            <tbody>
                            {% for image in images %}
                                <tr>
                                    <td><img src="{{ asset('/img/file_icons/') }}{{ image.fextension }}.png" alt="...">
                                    </td>
                                    <td>{{ image.fname }}</td>
                                    <td>{{ image.fextension }}</td>
                                    <td>{{ (image.fsize / 1000000) | round(2) }}Mb</td>
                                    <td>
                                        <a href="{{ image.furl }}" download="{{ image.fname }}">
                                            <button class="btn btn-success"><span
                                                        class="glyphicon glyphicon-download-alt"></span></button>
                                        </a>
                                        <button class="btn btn-danger" onclick="removeImagemodal('{{ image.fname }}')">
                                            <span class="glyphicon glyphicon-remove"></span></button>
                                        <a class="fancybox" rel="ligthbox" href="{{ image.furl }}">
                                            <button class="btn btn-info"><span
                                                        class="glyphicon glyphicon-zoom-in"></span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>Afbeelding verwijderen</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h4><strong>Bent u zeker dat u deze afbeelding wilt verwijderen?</strong></h4>
                        <p>Na het verwijderen van de afbeelding zal het <strong>Niet mogelijk zijn</strong> deze terug
                            te halen.</p>
                        <input type="hidden" id="imageName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Nee</button>
                    <button type="button" class="btn btn-danger" onclick="removeImage()" data-dismiss="modal">Ja
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
              media="screen">
        <style>
            .gallery {
                display: inline-block;
                margin-top: 20px;
            }

            .img-box {
                width: 200px;
                height: 400px;
            }

            .imgbtn {
                width: 100%;
            }
        </style>
    {% endblock %}
    {% block javascripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".fancybox").fancybox({
                    openEffect: "none",
                    closeEffect: "none"
                });
            });

            function removeImagemodal(imageName) {
                $('#myModal').modal();
                $('#imageName').val(imageName);
            }

            function removeImage(imageName) {
                var url = "/removeimage";
                var data = $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        "fname": $('#imageName').val()
                    },
                    success: function (data) {
                        location.reload();
                    }
                }).responseText;
            }
        </script>
    {% endblock %}
