<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flexdash Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login/util.css') }}">
    <link rel="stylesheet" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic">
                <img src="{{ asset('img/icons/flexlogo.png') }}">
            </div>

            <form action="{{ path('login') }}" method="post" class="login100-form validate-form">
					<span class="login100-form-title">
						Aanmelden
					</span>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="_username" id="username" placeholder="Naam" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="_password" id="password" placeholder="Wachtwoord" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>
                <div class="text-center p-t-136">
                    <p>Copyrights <b>@Flexdash 2018</b></p>
                    <p>Cue-events | Gordijnen Myriam</p>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>