<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Dashboard{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet"
              href="{{ asset('/css/bootstrap.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
        <link rel="stylesheet" href="{{ asset('/css/default.css') }}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
        {% block stylesheets %}
        <style>
            body {
                font-family: 'Varela Round', sans-serif;
            }

            .shopheader{
                background-color: #984B43;
                width: 100%;
                height: 125px;
            }

            .thumbnail{
                padding: 0px;
            }

            .shopheader_icon{
                margin-top: 30px;
            }
        </style>
        {% endblock %}
    </head>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">
                        <button class="btn btn-danger" style="margin-bottom: 0px"><span class="glyphicon glyphicon-log-out"></span> Afmelden</button>
                    </a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="shopheader text-center">
                    <img class="shopheader_icon" src="{{ asset('img/icons/id.png') }}">
                </div>
                <div class="caption text-center">
                    <h3>Cue Events</h3>
                    <p>...</p>
                    <p><a href="{{ path('homepage',{'shop': 'CE'}) }}" class="btn btn-success" role="button">Selecteren</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 center-block">
            <div class="thumbnail">
                <div class="shopheader text-center">
                    <img class="shopheader_icon" src="{{ asset('img/icons/id.png') }}">
                </div>
                <div class="caption text-center">
                    <h3>Gordijnen Myriam</h3>
                    <p>...</p>
                    <p><a href="{{ path('homepage',{'shop': 'GM'}) }}" class="btn btn-success" role="button">Selecteren</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>

