<td width="10%">{{ form_widget(form.code) }}</td>
<td width="60%">{{ form_widget(form.omschrijving) }}</td>
<td width="10%">{{ form_widget(form.aantal) }}</td>
<td width="10%">{{ form_widget(form.prijs) }}</td>
<td width="8%">{{ form_widget(form.totaal,{ 'attr':{'readonly':'readonly'} }) }}</td>
<td><button type="button" class="btn btn-danger remove-object">X</button></td>

