<td width="10%">{{ form_widget(form.code) }}</td>
<td width="50%"><pre>{{ form_widget(form.omschrijving) }}</pre></td>
<td width="10%">{{ form_widget(form.aantal) }}</td>
<td width="10%">{{ form_widget(form.prijs) }}</td>
<td width="20%">{{ form_widget(form.totaal,{ 'attr':{'readonly':'readonly'} }) }}</td>
<td><button type="button" class="btn btn-danger remove-object" onclick="deleteRow(this)">X</button></td>

