<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}FlexDash{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet"
              href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
        <link rel="stylesheet" href="{{ asset('/calendar/fullcalendar.css') }}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('/css/default.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand">
                {% if shop == "CE" %}
                    Cue-events
                {% elseif shop == "GM" %}
                    Gordijnen Myriam
                {% endif %}
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('homepage',{'shop': shop}) }}">
                        <button class="btn btn-success" style="margin-bottom: 0px">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </button>
                    </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 20px;padding-top: 20px; color: white">
                        <span class="glyphicon glyphicon-user"></span> {{ app.user.username|capitalize }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ app.user.username }}</strong></p>
                                        <p class="text-left small">{{ app.user.email }}</p>
                                        <p class="text-left">

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="/logout">
                                                <button class="btn btn-danger" style="margin-bottom: 0px"><span
                                                            class="glyphicon glyphicon-log-out"></span> Afmelden
                                                </button>
                                            </a>
                                            <a href="/select_shop">
                                                <button class="btn btn-success"><span
                                                            class="glyphicon glyphicon-refresh"></span> Wissel winkel
                                                </button>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="{{ asset('/calendar/moment.js') }}"></script>
<script src="{{ asset('/calendar/fullcalendar.js') }}"></script>
<script src="{{ asset('/calendar/locale/nl-be.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
