<page backtop="55mm" backbottom="55mm" backleft="10mm" backright="10mm">
    <page_header>
        <img class="banner" src="img/GM/header_offerte.JPG"/><br>
    </page_header>
    <page_footer>
        <img class="bannerfooter" src="img/GM/footer_offerte.JPG"/>
    </page_footer>
    <div class="row customer_info">
        <table>
            <tbody>
            <tr>
                <td width="90">Naam :</td>
                <td width="300">{{ customer.firstName }} {{ customer.lastName }}</td>
                <td>Offerte :</td>
                <td>{{ offerte.offertenr }}</td>
            </tr>
            <tr>
                <td>Telefoon :</td>
                <td>{{ customer.phone }}</td>
                <td width="90">Datum :</td>
                <td width="225">{{ offerte.deliverydate|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td width="90">Adres :</td>
                <td colspan="3">{{ customer.address }} , {{ customer.postcode }} {{ customer.place }}</td>
            </tr>
            <tr>
                <td width="90">Lever adres :</td>
                <td colspan="3">{{ offerte.deliveryaddress }} , {{ offerte.postcode }} {{ offerte.place }}</td>
            </tr>
            {% if offerte.btwnummer is defined %}
                <tr>
                    <td width="90">BTW nummer :</td>
                    <td colspan="3">{{ offerte.btwnummer }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <table>
        <thead>
        <tr>
            <th align="center" class="data_header">Omschrijving</th>
            <th align="center" class="data_header">Prijs</th>
        </tr>
        </thead>
        <tbody>
        <col width="575">
        <col width="100">
        {% set totaal = 0 %}
        {% for object in offerte.objects %}
            <tr>
                <td class="data_table textarea">
                    <pre>{{ object.omschrijving }}</pre>
                </td>
                <td class="data_table center-block">€ {{ object.totaal }}</td>
                {% set totaal = totaal + object.totaal %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="pricingTable">
        <tbody>
        <col width="593">
        <col width="100">
        <tr>
            <td class="data_table">Korting</td>
            <td class="data_table" style="text-align: right;">{{ offerte.korting }} %</td>
        </tr>
        <tr>
            <td class="data_table">Plaatsing</td>
            <td class="data_table" style="text-align: right;">€ {{ offerte.extracost }} </td>
        </tr>
        <tr>
            <td class="data_table"><b>Totaal excl. btw</b></td>
            {% set h1 = totaal - (totaal / 100 * offerte.korting) %}
            {% set h2 = h1 + offerte.extracost %}
            <td class="data_table" style="text-align: right;">€ {{ h2 }} </td>
        </tr>
        <tr>
            <td class="data_table">BTW</td>
            <td class="data_table" style="text-align: right;">{{ offerte.btw }} %</td>
        </tr>
        <tr>
            <td class="data_table" style="background-color: grey; color: #FFFFFF"><b>Totaal incl. btw</b></td>
            {% set h3 = h2 +  (h2 / 100 * offerte.btw) %}
            <td class="data_table" style="text-align: right;background-color: grey; color: #FFFFFF">
                € {{ h3|round(2) }} </td>
        </tr>
        </tbody>
    </table>
</page>

<style>
    .banner {
        width: 450px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .bannerfooter {
        width: 700px;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    table {
        border-collapse: collapse;
        font-family: Arial, serif;
    }

    pre {
        font-family: Arial, serif;
    }

    table.data_table, th.data_header, td.data_table {
        border: 1px solid #0C0C0C;
    }

    .center-block {
        text-align: center;
    }

    .customer_info {
        background-color: #F2F2F2;
        margin-left: -60px;
        margin-right: -30px;
        margin-bottom: 20px;
        padding-left: 60px;
        padding-right: 30px;
        padding-top: 20px;
        height: 100px;
    }

    .left-center {
        border-right: 1px solid #0C0C0C;
        padding-right: 10px;
    }

    .data_table_foot {
        text-align: right;
        border: 1px solid #0C0C0C;
    }

    .textarea {
        padding-left: 10px;
    }

    .data_table {
        padding-top: 5px;
    }

    .data_header {
        background-color: grey;
        color: #FFFFFF;
    }

    .pricingTable{
        margin-top: 20px;
    }
</style>