<page backtop="7mm" backbottom="7mm" backleft="10mm" backright="10mm">
    <page_header>

    </page_header>
    <page_footer>

    </page_footer>
    <img class="banner" src="img/GM/header_factuur.JPG"/><br>
    <div class="row customer_info">
        <table>
            <tbody>
            <tr>
                <td width="90">Naam :</td>
                <td width="225">{{ customer.firstName }} {{ customer.lastName }}</td>
                <td width="90">Lever adres :</td>
                <td width="225">{{ offerte.deliveryaddress }} , {{ offerte.postcode }} {{ offerte.place }}</td>
            </tr>
            <tr>
                <td width="90">Adres :</td>
                <td width="225">{{ customer.address }} , {{ customer.postcode }} {{ customer.place }}</td>
                <td width="90">Lever datum :</td>
                <td width="225">{{ offerte.deliverydate|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td>Telefoon :</td>
                <td>{{ customer.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th align="center" class="data_table">Omschrijving</th>
                <th align="center" class="data_table">Prijs</th>
            </tr>
            </thead>
            <tbody>
            <col width="670">
            <col width="80">
            {% set totaal = 0 %}
            {% for object in offerte.objects %}
                <tr>
                    <td class="data_table"><pre>{{ object.omschrijving }}</pre></td>
                    <td class="data_table">€ {{ object.prijs }}</td>
                    {% set totaal = totaal + object.totaal %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="1" align="right" class="left-center">Subtotaal</td>
                <td class="data_table_foot">€ {{ totaal }} </td>
            </tr>
            <tr>
                <td colspan="1" align="right" class="left-center">Korting</td>
                <td class="data_table_foot">{{ offerte.korting }} %</td>
            </tr>
            <tr>
                <td colspan="1" align="right" class="left-center">BTW</td>
                <td class="data_table_foot">{{ offerte.btw }} %</td>
            </tr>
            <tr>
                <td colspan="1" align="right" class="left-center">Totaal </td>
                {% set h1 = totaal - (totaal / 100 * offerte.korting) %}
                {% set h2 = h1 + offerte.extracost %}
                {% set h3 = h2 +  (h2 / 100 * offerte.btw)%}
                <td class="data_table_foot">€ {{ h3|round(2) }} </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <img class="bannerfooter" src="img/GM/footer_offerte.JPG"/><br>
    </div>
</page>

<style>
    .banner {
        width: 700px;
    }

    .bannerfooter {
        width: 700px;
        background: #6cf;
    }

    table {
        border-collapse: collapse;
        font-family: Arial, serif;
    }

    pre {
        font-family: Arial, serif;
    }

    table.data_table, th.data_table, td.data_table {
        border: 1px solid #C0C0C0;
    }

    .center-block {
        text-align: center;
    }

    .customer_info {
        background-color: #F2F2F2;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        height: 80px;
    }

    .left-center {
        border-right: 1px solid #C0C0C0;
        padding-right: 10px;
    }

    .data_table_foot {
        text-align: center;
        border: 1px solid #C0C0C0;
    }
</style>